{
  "iconPath" : "/interface/scripted/cityscaper/modules/icons/",	//will use moduleName.png so vanilla.png
  "modules" : [
    //Vanilla
    {
	  "name" : "vanilla",
	  "config" : {
	    "rooms" : [
		  //HYLOTL CITY
		  
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room",
			"variant" : "Left - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-hylotl_room_a_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/hylotl/hylotl_room_a_1.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
		      "pressurisedbeam" : 50,
		      "pressuriseddurasteel" : 50,
		      "pressurisedgirder" : 50,
		      "outpostwall2" : 50
		    }
		  },
	      {
  	        "shortDescription" : "Hylotl City Room",
			"variant" : "Middle - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-hylotl_room_a_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/hylotl/hylotl_room_a_2.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
		      "pressurisedbeam" : 50,
		      "pressuriseddurasteel" : 50,
		      "pressurisedgirder" : 50,
		      "outpostwall2" : 50
		    }
		  },
	      {
  	        "shortDescription" : "Hylotl City Room",
			"variant" : "Middle - 2",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-hylotl_room_a_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/hylotl/hylotl_room_a_3.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
		      "pressurisedbeam" : 50,
		      "pressuriseddurasteel" : 50,
		      "pressurisedgirder" : 50,
		      "outpostwall2" : 50
		    }
		  },
	      {
  	        "shortDescription" : "Hylotl City Room",
			"variant" : "Right - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-hylotl_room_a_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/hylotl/hylotl_room_a_4.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
		      "pressuriseddurasteel" : 50,
		      "wallpaper" : 50,
		      "pressurisedbeam" : 35,
		      "pressurisedgirder" : 35,
		      "outpostwall2" : 25
		    }
		  },
		
		  //OUTPOST
		  
		  //Outpost Stairway
	      {
  	        "shortDescription" : "Outpost Stairway",
			"variant" : "Top - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_stairway_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_stairway_3.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipsupport" : 50,
		      "outpostwall1" : 50,
		      "apexshipdetails" : 45
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Stairway",
			"variant" : "Middle - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_stairway_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_stairway_2.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipsupport" : 50,
		      "outpostwall1" : 50,
		      "apexshipdetails" : 45
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Stairway",
			"variant" : "Bottom - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_stairway_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_stairway_1.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipsupport" : 50,
		      "outpostwall1" : 50,
		      "apexshipdetails" : 45
		    }
		  },
		  
		  //Outpost Roofs
	      {
  	        "shortDescription" : "Outpost Roof",
			"variant" : "1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_roof_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_roof_1.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 50,
		      "concretematerial" : 25
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof",
			"variant" : "2",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_roof_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_roof_2.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 50,
		      "concretematerial" : 25
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof",
			"variant" : "3",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_roof_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_roof_3.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 50,
		      "concretematerial" : 25
		    }
		  },
		  
		  //Outpost Rooms

		  //Left End
	      {
  	        "shortDescription" : "Outpost Bedroom",
			"variant" : "Left - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_11",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_11.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },

		  //Middle
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 1 - Empty",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_1.png",
		  
		    "cost" : {
		      "money" : 3500,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 2",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_2.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 3",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_3.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 4",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_4.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 5",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_5.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 6",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_6",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_6.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 7",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_7",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_7.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room",
			"variant" : "Middle - 8",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_8",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_8.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },

		  //Right End
	      {
  	        "shortDescription" : "Outpost Balcony",
			"variant" : "Right - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_9",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_9.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Bedroom",
			"variant" : "Right - 2",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-outpost_room_10",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/outpost/outpost_room_10.png",
		  
		    "cost" : {
		      "money" : 5000,
		      "upgrademodule" : 1,
		      "apexshipwall" : 75,
		      "apexshipdetails" : 50,
		      "apexshipsupport" : 35
		    }
		  },

		  //Peacekeeper
		
		  //Left End
	      {
  	        "shortDescription" : "Peacekeeper Room",
			"variant" : "Left - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-peacekeeper_room_leftend_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/peacekeeper/peacekeeper_room_leftend_1.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
			  "ornatewall" : 50,
			  "concretematerial" : 50,
			  "outpostsupport" : 45,
			  "outpostwall1" : 25,
			  "stonetiles" : 25
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Room",
			"variant" : "Left - 1",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-peacekeeper_room_leftend_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/peacekeeper/peacekeeper_room_leftend_2.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
			  "asphalt" : 75,
			  "concretematerial" : 50,
			  "outpostsupport" : 45,
			  "outpostwall1" : 25,
			  "stonetiles" : 25
		    }
		  },

		  //Middles
	      {
  	        "shortDescription" : "Peacekeeper Room",
			"variant" : "Middle - 1 - Empty",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-peacekeeper_room_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/peacekeeper/peacekeeper_room_1.png",
		  
		    "cost" : {
		      "money" : 3500,
		      "upgrademodule" : 1,
			  "ornatewall" : 50,
			  "concretematerial" : 50,
			  "outpostsupport" : 45,
			  "outpostwall1" : 25,
			  "stonetiles" : 25
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Room",
			"variant" : "Middle - 2",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-peacekeeper_room_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/peacekeeper/peacekeeper_room_2.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
			  "ornatewall" : 50,
			  "concretematerial" : 50,
			  "outpostsupport" : 45,
			  "outpostwall1" : 25,
			  "stonetiles" : 25
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Room",
			"variant" : "Middle - 3",
			"filter" : "S",
		  
	        "dungeon" : "neb-room-peacekeeper_room_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/rooms/peacekeeper/peacekeeper_room_3.png",
		  
		    "cost" : {
		      "money" : 7500,
		      "upgrademodule" : 1,
			  "ornatewall" : 50,
			  "concretematerial" : 50,
			  "outpostsupport" : 45,
			  "outpostwall1" : 25,
			  "stonetiles" : 25
		    }
		  }
	    ],
		
	    "prefabs" : [
		  //FLORAN
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "1",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_1.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "2",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_2.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "3",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_3.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "4",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_4.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "5",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_5.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "6",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_6",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_6.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "7",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_7",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_7.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "8",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_8",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_8.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "9",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_9.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "10",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_10.png",
		  
		    "cost" : {
			  "money" : 25000,
			  "upgrademodule" : 5,
			  "ornatewood" : 40,			//64
			  "plantmatter" : 40,			//61
			  "darkwoodmaterial" : 40,		//58
			  "thatch" : 50,				//79
			  "wicker" : 45					//60
			}
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "11",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_11",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_11.png",
		  
		    "cost" : {
				"money" : 25000,
				"upgrademodule" : 5,
				"ornatewood" : 40,			//64
				"plantmatter" : 40,			//61
				"darkwoodmaterial" : 40,		//58
				"thatch" : 50,				//79
				"wicker" : 45					//60
			  }
		  },
	      {
  	        "shortDescription" : "Floran Hut",
			"variant" : "12",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-floran_hut_12",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/floran/floran_hut_12.png",
		  
		    "cost" : {
		      "money" : 25000,
		      "upgrademodule" : 5,
		      "ornatewood" : 40,			//64
		      "plantmatter" : 40,			//61
		      "darkwoodmaterial" : 40,		//58
		      "thatch" : 50,				//79
		      "wicker" : 45					//60
		    }
		  },
		
		  //GENERIC
	      {
  	        "shortDescription" : "Basic Bridge",
			"variant" : "1",
		  
	        "dungeon" : "neb-prefab-bridge",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/bridge.png",
		  
		    "cost" : {
		      "money" : 30000,
		      "upgrademodule" : 5
		    }
		  },
	      {
  	        "shortDescription" : "Basic House",
			"variant" : "1",
		  
	        "dungeon" : "neb-prefab-house",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house.png",
		  
		    "cost" : {
		      "money" : 30000,
		      "upgrademodule" : 5
		    }
		  },
	      {
  	        "shortDescription" : "Basic House",
			"variant" : "2",
		  
	        "dungeon" : "neb-prefab-house2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house2.png",
		  
		    "cost" : {
		      "money" : 30000,
		      "upgrademodule" : 5
		    }
		  },

		  //Space Station
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Left - 1",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_left_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_left_1.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Left - 2",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_left_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_left_2.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,			//242
			  "outpostsupport" : 275,		//549
			  "outpostwall2" : 125,			//157
			  "slopedrustypanel" : 100,		//206
			  "junktech" : 220,				//437
			  "asphalt" : 200				//411
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Left - 3",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_left_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_left_3.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },

		  //middle
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Middle - 1 - Empty",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_middle_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_middle_1.png",
		  
		    "cost" : {
		      "money" : 65000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Middle - 2",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_middle_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_middle_2.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "glassmaterial" : 750
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Middle - 3",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_middle_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_middle_3.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Middle - 4",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_middle_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_middle_4.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Middle - 5",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_middle_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_middle_5.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },

		  //right
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Right - 1",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_right_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_right_1.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "glassmaterial" : 125,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Right - 2",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_right_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_right_2.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostwall1" : 125,
			  "outpostsupport" : 275,
			  "outpostwall2" : 125,
			  "slopedrustypanel" : 100,
			  "junktech" : 220,
			  "asphalt" : 200
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Right - 3",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_seg_right_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_seg_right_3.png",
		  
		    "cost" : {
		      "money" : 75000,
		      "upgrademodule" : 10,
			  "outpostsupport" : 250,	//564
			  "outpostwall2" : 100,		//196
			  "ornatewall" : 150,		//266
			  "asphalt" : 200,			//314
			  "slopedrustypanel" : 85,	//166
			  "outpostwall1" : 225		//442
		    }
		  }
	    ],
		
	    "dungeons" : [
	      {
  	        "shortDescription" : "Avian Air Ship",
			"variant" : "Dungeon",
			"filter" : "L",
		  
	        "dungeon" : "neb-dungeon-avianairship",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/dungeons/modifiedavianairship.png",
		  
		    "cost" : {
		      "money" : 1000000,
		      "upgrademodule" : 25,
		      "darkwoodmaterial" : 2000,	//4818
		      "ornatewood" : 850,			//1212
		      "woodbridge" : 750,			//922
		      "logblock" : 350,				//604
		      "outpostwall2" : 125,			//209
		      "woodenwindow1" : 100			//198
		    }
		  },

	      {
  	        "shortDescription" : "Outpost Building",
			"variant" : "Standalone",
			"filter" : "L",
		  
	        "dungeon" : "neb-dungeon-outpostbuilding",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/dungeons/outpostbuilding.png",
		  
		    "cost" : {
		      "money" : 200000,
		      "upgrademodule" : 25,
		      "outpostwall1" : 500,
		      "outpostwall2" : 450,
		      "outpostsupport" : 350,
		      "glassmaterial" : 150,
		      "heavypipe" : 75
		    }
		  },

		  //Peacekeeper
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Level 2",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_l2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_l2.png",
		  
		    "cost" : {
		      "money" : 125000,
		      "upgrademodule" : 25,
		      "outpostwall1" : 150,			//365
		      "stonetiles" : 50,			//175
		      "slopedrustypanel" : 250,		//272
		      "concretematerial" : 450,		//291
		      "outpostsupport" : 100,		//192
		      "ornatewall" : 200			//336
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Level 3",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_l3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_l3.png",
		  
		    "cost" : {
		      "money" : 150000,
		      "upgrademodule" : 25,
		      "junktech" : 150,				//252
		      "outpostsupport" : 500,		//774
		      "concretematerial" : 200,		//460
		      "outpostwall1" : 375,			//650
		      "stonetiles" : 75,			//192
		      "slopedrustypanel" : 400,		//688
		      "ornatewall" : 350			//618
		    }
		  },
	      {
  	        "shortDescription" : "Peacekeeper Station",
			"variant" : "Level 4",
			"filter" : "M",
		  
	        "dungeon" : "neb-prefab-peacekeeper_station_l4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_station_l4.png",
		  
		    "cost" : {
		      "money" : 175000,
		      "upgrademodule" : 25,
		      "outpostwall2" : 225,			//462
		      "outpostsupport" : 750,		//1349
		      "concretematerial" : 235,		//484
		      "outpostwall1" : 650,			//842
		      "glassmaterial" : 200,		//432
		      "slopedrustypanel" : 250,		//500
		      "ornatewall" : 265			//540
		    }
		  },

	      {
  	        "shortDescription" : "Peacekeeper Offices",
			"variant" : "Standalone",
			"filter" : "S",
		  
	        "dungeon" : "neb-prefab-peacekeeper_outpost",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/prefabs/peacekeeper/peacekeeper_outpost.png",
		  
		    "cost" : {
		      "money" : 150000,
		      "upgrademodule" : 25,			
		      "concretematerial" : 225,		//384
		      "stonetiles" : 175,			//278
		      "outpostsupport" : 240,		//470
		      "outpostwall1" : 245,			//480
		      "asphalt" : 200,				//333
		      "ornatewall" : 500			//721
		    }
		  }
		]
	  }
	}
  ]
}