{
  "iconPath" : "/interface/scripted/cityscaper/modules/icons/",	//will use moduleName.png so vanilla.png
  "modules" : [
    //Vanilla
    {
	  "name" : "vanilla",
	  "config" : {
	    "rooms" : [
		  //HYLOTL CITY
		  
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 1",
		  
	        "dungeon" : "neb-room-hylotl_room_a_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 2",
		  
	        "dungeon" : "neb-room-hylotl_room_a_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 3",
		  
	        "dungeon" : "neb-room-hylotl_room_a_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		
		  //OUTPOST
		  
		  //Outpost Elevator Shaft
	      {
  	        "shortDescription" : "Outpost Elevator Shaft",
		  
	        "dungeon" : "neb-room-outpost_elevator_room",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_elevator_room.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  
		  //Outpost Roofs
	      {
  	        "shortDescription" : "Outpost Roof - 1",
		  
	        "dungeon" : "neb-room-outpost_roof_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof - 2",
		  
	        "dungeon" : "neb-room-outpost_roof_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof - 3",
		  
	        "dungeon" : "neb-room-outpost_roof_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  
		  //Outpost Rooms
	      {
  	        "shortDescription" : "Outpost Room - 1",
		  
	        "dungeon" : "neb-room-outpost_room_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 2",
		  
	        "dungeon" : "neb-room-outpost_room_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 3",
		  
	        "dungeon" : "neb-room-outpost_room_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 4",
		  
	        "dungeon" : "neb-room-outpost_room_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_4.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 5",
		  
	        "dungeon" : "neb-room-outpost_room_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_5.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 6",
		  
	        "dungeon" : "neb-room-outpost_room_6",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_6.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 7",
		  
	        "dungeon" : "neb-room-outpost_room_7",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_7.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  }
	    ],
		
	    "prefabs" : [
	      {
  	        "shortDescription" : "Basic Bridge - 1",
		  
	        "dungeon" : "neb-prefab-bridge",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/bridge.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Basic House - 1",
		  
	        "dungeon" : "neb-prefab-house",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Basic House - 2",
		  
	        "dungeon" : "neb-prefab-house2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  }
	    ],
		
	    "dungeons" : [
	      {
  	        "shortDescription" : "Avian Air Ship",
		  
	        "dungeon" : "neb-dungeon-avianairship",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/avianairship.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 50000,
		      "essence" : 40000
		    }
		  }
		]
	  }
	}
  ]
}