{
  "iconPath" : "/interface/scripted/cityscaper/modules/icons/",	//will use moduleName.png so vanilla.png
  "modules" : [
    //Vanilla
    {
	  "name" : "vanilla",
	  "config" : {
	    "rooms" : [
		  //HYLOTL CITY
		  
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 1",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-hylotl_room_a_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 2",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-hylotl_room_a_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  //Hylotl City Rooms
	      {
  	        "shortDescription" : "Hylotl City Room - 3",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-hylotl_room_a_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/hylotl_room_a_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		
		  //OUTPOST
		  
		  //Outpost Elevator Shaft
	      {
  	        "shortDescription" : "Outpost Elevator Shaft",
            "dungeonSize": [16, 13],
		  
	        "dungeon" : "neb-room-outpost_elevator_room",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_elevator_room.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  
		  //Outpost Roofs
	      {
  	        "shortDescription" : "Outpost Roof - 1",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_roof_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof - 2",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_roof_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Roof - 3",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_roof_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_roof_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
		  
		  //Outpost Rooms
	      {
  	        "shortDescription" : "Outpost Room - 1",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 2",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 3",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 4",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_4.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 5",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_5.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 6",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_6",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_6.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  },
	      {
  	        "shortDescription" : "Outpost Room - 7",
            "dungeonSize": [29, 13],
		  
	        "dungeon" : "neb-room-outpost_room_7",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/outpost_room_7.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 3500,
		      "essence" : 500
		    }
		  }
	    ],
		
	    "prefabs" : [
		  //FLORAN
	      {
  	        "shortDescription" : "Floran Hut - 1",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_1.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 2",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 3",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_3",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_3.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 4",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_4",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_4.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 5",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_5",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_5.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 6",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_6",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_6.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 7",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_7",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_7.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 8",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_8",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_8.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 9",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_9.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 10",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_1",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_10.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 11",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_11",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_11.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Floran Hut - 12",
            "dungeonSize": [40, 48],
		  
	        "dungeon" : "neb-prefab-floran_hut_12",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/floran_hut_12.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
		
		  //GENERIC
	      {
  	        "shortDescription" : "Basic Bridge - 1",
		  
	        "dungeon" : "neb-prefab-bridge",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/bridge.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Basic House - 1",
		  
	        "dungeon" : "neb-prefab-house",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  },
	      {
  	        "shortDescription" : "Basic House - 2",
		  
	        "dungeon" : "neb-prefab-house2",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/house2.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 8000,
		      "essence" : 2000
		    }
		  }
	    ],
		
	    "dungeons" : [
	      {
  	        "shortDescription" : "Avian Air Ship",
		  
	        "dungeon" : "neb-dungeon-avianairship",
		    "previewImage" : "/interface/scripted/cityscaper/modules/vanilla/avianairship.png",
		  
			//Only considers first 5 materials listed
		    "cost" : {
		      "money" : 50000,
		      "essence" : 40000
		    }
		  }
		]
	  }
	}
  ]
}