{
  "openWithInventory" : false,
  
  "gui" : {
	//Main body
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/cityscaper/header.png",
      "fileBody" : "/interface/scripted/cityscaper/body.png",
      "fileFooter" : "/interface/scripted/cityscaper/footer.png"
    },

	//Title, subtitles and icon
    "windowtitle" : {
      "type" : "title",
      "title" : " CityScaper                 ^red;WARNING: ^#FF00DC;Pink^red; tiles do not replace tiles. All others will.",
      "subtitle" : " The first step to a brand new world!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/cityscaper/interfaceicon.png"
      }
    },
	
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [340, 253]
    },
	
	//Scroll area - tabs aka types of dungeon to place
    "tabScrollArea" : {
      "type" : "scrollArea",
      "rect" : [36, 230, 200, 246], //Anchored in bottom-left corner of the interface
	  "buttons" : {
		"horizontal" : {
		  "forward" : { "base" : "", "hover" : "", "pressed" : "" },
		  "backward" : { "base" : "", "hover": "", "pressed" : "" }
		},
		"vertical" : {
		  "forward" : {
			"base" : "/assetmissing.png",
			"hover" : "/assetmissing.png",
			"pressed" : "/assetmissing.png"
		  },
		  "backward" : {
			"base" : "/assetmissing.png",
			"hover" : "/assetmissing.png",
			"pressed" : "/assetmissing.png"
		  }
		}
	  },
	  "thumbs" : {
		"horizontal" : {
		  "base" : { "begin" : "", "end" : "", "inner" : "" },
		  "hover" : { "begin" : "", "end" : "", "inner" : "" },
		  "pressed" : { "begin" : "", "end" : "", "inner" : "" }
		},
		"vertical" : {
		  "base" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  },
		  "hover" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  },
		  "pressed" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  }
		}
	  },
      "children" : {
        "itemList" : {
          "type" : "list",
		  "columns" : 3,
          "callback" : "tabSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/cityscaper/tab.png:2",
            "unselectedBG" : "/interface/scripted/cityscaper/tab.png:1",
            "spacing" : [0, 1],
            "memberSize" : [44, 12],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/cityscaper/tab.png:1",
                "position" : [0, 0],
                "zlevel" : 1
              },
              "tabName" : {
                "type" : "label",
                "position" : [22, 1],
                "hAnchor" : "mid",
                "wrapWidth" : 55,
                "value" : "Replace Me",
                "zlevel" : 2
              }
            }
          }
        }
      }
    },

	//Scroll area - modules aka mods
    "moduleScrollArea" : {
      "type" : "scrollArea",
      "rect" : [6, 34, 40, 233], //Anchored in bottom-left corner of the interface
	  "buttons" : {
		"horizontal" : {
		  "forward" : { "base" : "", "hover" : "", "pressed" : "" },
		  "backward" : { "base" : "", "hover": "", "pressed" : "" }
		},
		"vertical" : {
		  "forward" : {
			"base" : "/assetmissing.png",
			"hover" : "/assetmissing.png",
			"pressed" : "/assetmissing.png"
		  },
		  "backward" : {
			"base" : "/assetmissing.png",
			"hover" : "/assetmissing.png",
			"pressed" : "/assetmissing.png"
		  }
		}
	  },
	  "thumbs" : {
		"horizontal" : {
		  "base" : { "begin" : "", "end" : "", "inner" : "" },
		  "hover" : { "begin" : "", "end" : "", "inner" : "" },
		  "pressed" : { "begin" : "", "end" : "", "inner" : "" }
		},
		"vertical" : {
		  "base" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  },
		  "hover" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  },
		  "pressed" : {
			"begin" : "/assetmissing.png",
			"end" : "/assetmissing.png",
			"inner" : "/assetmissing.png"
		  }
		}
	  },
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "moduleSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/cityscaper/module.png:2",
            "unselectedBG" : "/interface/scripted/cityscaper/module.png:1",
            "spacing" : [0, 1],
            "memberSize" : [24, 24],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/cityscaper/module.png:1",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "moduleIcon" : {
                "type" : "image",
                "position" : [12, 12],
                "file" : "",
				"centered" : true,
                "zlevel" : 2
              }
            }
          }
        }
      }
    },
	
    "dungeonScrollArea" : {
      "type" : "scrollArea",
      "rect" : [34, 56, 176, 232], //Anchored in bottom-left corner of the interface
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "dungeonSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/cityscaper/itembg.png:2",
            "unselectedBG" : "/interface/scripted/cityscaper/itembg.png:1",
            "spacing" : [0, 1],
            "memberSize" : [132, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/cityscaper/itembg.png:1",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "dungeonName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "dungeonIcon" : {
                "type" : "image",
				"centered" : true,
                "position" : [10, 10],
				"maxSize" : [18, 18],
				"minSize" : [18, 18],
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "filter" : {
      "type" : "textbox",
      "position" : [71, 31],
      "hint" : "Search",
	  "regex" : "^[A-Za-z0-9]*$",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
	
	"dungeonPreview" : {
      "type" : "image",
      "centered" : true,
      "scissoring" : false,
      "file" : "/assetmissing.png",
	  "maxSize" : [172, 105],
	  "minSize" : [172, 105],
      "position" : [266, 190]
	},
    "dungeonShortDescription" : {
      "type" : "label",
      "value" : "",
      "position" : [184, 132],
      "wrapWidth" : 130,
      "lineSpacing" : 1,
      "hAnchor" : "left",
      "vAnchor" : "top"
    },
    "dungeonSizeLabel" : {
      "type" : "label",
      "value" : "",
      "position" : [348, 132],
      "wrapWidth" : 130,
      "lineSpacing" : 1,
      "hAnchor" : "right",
      "vAnchor" : "top"
    },

	//Material Cost Fields
    "materialLabel" : {
      "type" : "label",
      "position" : [188, 106],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : ""
    },
    "costLabel" : {
      "type" : "label",
      "position" : [348, 106],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : ""
    },

	//Scripted buttons
    "btnApplyDungeon" : {
      "type" : "button",
      "centered" : true,
      "position" : [181, 28],
      "base" : "/interface/scripted/cityscaper/button.png",
      "hover" : "/interface/scripted/cityscaper/buttonhover.png",
      "disabledImage" : "/interface/scripted/cityscaper/buttongrayed.png",
      "caption" : "Generate Blueprint",
      "callback" : "generateBlueprint"
    }
  },

  "scriptWidgetCallbacks" : [
    "filter",
    "tabSelected",
	"moduleSelected",
	"dungeonSelected",
    "generateBlueprint"
  ],

  "scripts" : ["/interface/scripted/cityscaper/neb-cityscaper.lua"],
  "scriptDelta" : 5,
  
  "moduleConfig" : "/interface/scripted/cityscaper/modules/neb-cityscaper-modules.config"
}
